/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.main_wrapper {
    min-height: 100%;
    background: #d3d3d3;

}
.main_header {
    background:#f3f3f3;
    height:100px;
}

.accessibility {
    background: #000;
    text-align: center;
    color: #f5f5f5;
}
.vertical_navigation {
    background: #ebebeb;
    margin-left: 0 !important;
    padding-left: 20px;
}
ul.vt_nav_items {
  list-style-type: none;
    margin-left: 0;
}

.main_content {
    background: #fafafa;
    width: 70.93333% !important;
    margin-left: 0 !important;
}
