<div class="row-fluid content_button">
  <div class="span5">
    <div class="btn-group">
      <button class="btn btn-small">
        <%= link_to "All", "#home", :class => 'to_home' %>
      </button>
      <button class="btn btn-small">
        <%= link_to "myBills", "#tabs_2_mybills", :class => 'to_mybill' %>
      </button>
    </div>
  </div>
</div>